.encabezado {
            color:rgb(120, 4, 43);
            margin:3px;
            padding:1px;
            padding-bottom:20px;
            margin-bottom:none;
            background-color:rgb(181, 31, 43);
        }
        .linea {
            background-color:rgb(150, 142, 145);
            text-align:center;
            padding:1px;
        }
        h1 {
            font-weight:bold;
            position:relative;
            z-index:1;
        }
        .pan {
            position:absolute;
            top:10px;
            right:40%;
        }
        .derecha {
            border-left:solid;
            border-color:rgb(181, 31, 43);
            position:relative;
            left:450px;
            bottom:255px;
        }
        .todos {
            padding-left:10px;
            width:430px
        }
        .centrar { 
            width:200px;
            overflow-y:auto;
            height:200px;
            -background-color:white;
            border:solid 2px rgb(150, 142, 145);
            position:relative;
            top:5px;
            left:115px;
        }   
        .cuerpo {
            width:600px;
            margin-left:-300px;
            -border:solid;
            position:absolute;
            left:50%
                
           
        }
